apiVersion: apps/v1
kind: Deployment
metadata:
  name: static-site-deploy
  labels:
    app: static-site
spec:
  replicas: 2
  selector:
    matchLabels:
      app: static-site
  template:
    metadata:
      labels:
        app: static-site
    spec:
      containers:
        - name: static-site
          image: shivsoftapp/static-site:latest
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: static-site-svc
spec:
  type: NodePort
  selector:
    app: static-site
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080
